<h1>Order Information</h1>

<p><%="Name: #{ @order.name }"%></p>
<p><%="Email Address: #{ @order.email }"%></p>
<p><%="Address: #{ @order.address }"%></p>
<p><%="Last four digits of credit card: #{ @order.cc_number }"%></p>
<p><%="Credit Card Expiration Date: #{ @order.expiration_date }"%></p>
