<h1>New Order</h1>
<%= form_for @order do |f| %>
      <p><%= f.label :name, "Name:" %>
      <%= f.text_field :name %></p>

      <p><%= f.label :email, "Email:" %>
      <%= f.text_field :email %></p>

      <p><%= f.submit "Save" %></p>
    <% end %>
