<h1><%= @merchant.username %></h1>

<h2>My Products</h2>

<% @products.each do |product| %>
  <p><%= product.name %> <%= button_to("Edit Product", edit_merchant_product_path(:merchant_id, product.id), method: :get ) %> (WILL BE MERCHANT-VIEW ONLY)</p>
    <p><img src= "<%= product.photo_url %>" ></p>
  <p>Description: <%= product.description %></p>
  <p>Stock: <%= product.stock %></p>
<% end %>

<p><%= button_to("New Category", new_category_path, method: :get ) %> (WILL BE MERCHANT-VIEW ONLY)</p>

<p><%= button_to("New Product", new_merchant_product_path(:merchant_id), method: :get ) %> (WILL BE MERCHANT-VIEW ONLY)</p>

<h2>Order Fulfillment</h2>

<h3>Total Revenue</h3>
<%= @merchant_oi_revenue %>
