<p id="notice"><%= notice %></p>

<h3>You know you wanna buy it!</h3>

  <p><%= @product.name %></p>
  <p><%= image_tag("#{@product.photo_url}") %></p>
  <p><%= @product.description %></p>
  <p>Price: $<%= "#{(@product.price)/100}" %>.00</p>
  <p>Sold by:<%= " #{Merchant.find(@product.merchant_id).username
  }" %></p>



<p><%= link_to "Add to cart", add_to_cart_path %></p>


<%= link_to 'Back to All Products', products_path %>
